spring:
  application:
    name: hms-api-gateway
  cloud:
    gateway:
      server:
        webflux:
          routes:
            - id: hms-user-service
              uri: lb://HMS-USER-SERVICE
              predicates:
                - Path=/api/v1/auth/**
              filters:
                - StripPrefix=2
            - id: hms-profile-service
              uri: lb://HMS-PROFILE-SERVICE
              predicates:
                - Path=/api/v1/profile/**
              filters:
                - StripPrefix=2
                - name: AuthenticationFilter
  main:
    allow-bean-definition-overriding: true
server:
  port: 8000
eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8761/eureka/